html,
body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (--sm) {
    body,
    html {
        font-size: 16px;
    }
}

body {
    color: var(--black);
}

.main h1,
.main .h1 {
    font-size: 1.9rem;
    line-height: 1.2;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: .5;
}

@media (--md) {
    .main h1,
    .main .h1 {
        font-size: 2.625rem;
    }
}

.main h1 + h2,
.main .h1 + .h2,
.main h1 + .h2,
.main .h1 + h2 {
    margin-top: 0;
}

.main p {
    color: inherit;
    font-size: 1rem;
    line-height: 1.4;
}

.main p.p1,
.main .p1 {
    font-size: 1rem;
}

.main ul,
.main ol {
    font-size: 1.125rem;
    line-height: 1.5;
}

.main ul li,
.main ol li {
    font-size: inherit;
    font-weight: inherit;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.main ul {
    padding: 0;
    list-style: none;
    font-weight: 300;
}

.main ul li {
    padding-left: .75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAAXNSR0IArs4c6QAAALBJREFUGBlNjTEOQUEURe+bL1EqxBbUovOJ2IOOUFmCRCWZSFRajajtQUONWINEoWQD5s/1xvdlXjOTd867V2DPdWTcIPF92PSFaAw8tyLowZsDZtdKxGCQ+QHJuwANlN/HWDBYpg+9bhO4CaQZC+YbEwRX6pB45oLbA5QcBiNxQ+2uaoJXsAaEWqUzP00VrH5gjEVrF9byBwRVHhUgQI1lTbv0CJMYBJiPvXSLb/x+AEW1RIRghc4DAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: top 0.5rem left;
    line-height: 1.333;
}

@media (--sm) {
    .main ul li {
        background-position: top 0.7rem left;
    }
}

.main img {
    max-width: 100%;
    vertical-align: middle;
}

.main a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.main h1 a,
.main h2 a,
.main h3 a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.main h1 a:hover,
.main h2 a:hover,
.main h3 a:hover {
    text-decoration: underline;
}

.main p a,
.main ul a {
    color: var(--black);
    text-decoration: none;
}

.main p a:hover,
.main ul a:hover {
    color: var(--black);
}

.main a img {
    border: none;
}
